.switch-mode-btn{
    position: fixed;
    right: 6px;
    top: 4px;
    z-index: 2;
    margin: 10px;
}

@media(max-width: $mobile){
    .switch-mode-btn{
        bottom: 0;
        top: initial;
    }
}