$enable-negative-margins: true;

@import "~bootstrap/scss/bootstrap";

@import "layout/avatar";
@import "layout/footer";
@import "layout/header";
@import "layout/progress";
@import "layout/sidebar";

@import 'darkmode';
@import 'y-slide';
@import 'partials/variables';
@import 'partials/globals';
@import 'partials/loader';
@import 'partials/nav';
@import 'partials/switchmode';
@import 'partials/hero';
@import 'partials/description';
@import 'partials/memories';
@import 'partials/footer';
@import 'partials/profile';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100&display=swap');


@import "_custom";

#__next {
  position: relative !important;
}

body {
  font-family: 'Poppins', sans-serif;
}